<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>Resume Maker</title>
        <link href="../static/css/style.css" rel="stylesheet">
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
       
    </head>
    <body class="homepage">
        <header>
            <div class="text-left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="logo">
                                <h2>RESUME MAKER</h2>
                            </div>
                            <div class="nav_button_right">
                                <a href="/register" class="btn btn-info" >Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="center_login">
            <div class="login-form">
            <h2>Login</h2>
            <form method="post" action="login">
              <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
              </div>
              <div class="form-group">
                <button type="submit">Login</button>
              </div>
            </form>
            </div>
        </div>
    </body>
</html>
