<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>Resume Maker</title>
        <link href="../static/css/style.css" rel="stylesheet">
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
       
    </head>
    <body>
        <header>
            <div class="text-left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="logo">
                                <h2>RESUME MAKER</h2>
                            </div>
                            <div class="nav_button_right">
                        <a href="/register" class="btn btn-info" >Register</a>
                    </div>
                    <div class="nav_button_right">
                        <a href="/login" class="btn btn-info" >Login</a>
                    </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </header>

        <section id="templates">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>RESUME TEMPLATES</h4>
                        <p>Choose your own style to make resume</p>
                    </div>
                    <div class="col-md-4 zoom">
                        <a href="/resume_1">
                            <img src="../static/img/resume1.png" style="width: 100%">
                        </a>
                        <p style="text-align: center" ><a href="/resume_1">ITM University</a></p>
                    </div>
                    <div class="col-md-4 zoom">
                        <a href="/resume_2">
                            <img src="../static/img/resume1.png" style="width: 100%">
                        </a>
                        <p style="text-align: center" ><a href="/resume_1">ITM Gwalior</a></p>
                    </div>
                    <div class="col-md-4 zoom">
                        <a href="#">
                            <img src="../static/img/comming_soon.jpg" style="width: 100%">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>